<h1>Welcome to Facebook Neue, <%= @user.name %>!</h1>

<h2>Next Steps:</h2> 
<ol>
  <li>Update your profile <%= link_to "here", @user %>.</li> 
  <li>Start by finding your friends <%= link_to "here", users_url %>.</li>
  <li>Make your first post!</li> 
</ol>