<div class="columns is-centered">
  <div class="column is-3">
    <%= render 'profileblurb' %>
  </div>

  <div class="column is-6">
    <% if current_user.id == @user.id %>
    <%= render 'post_shared/form' %>
    <% end %>
    <% unless @posts.nil? %>
    <%= render 'post_shared/feed' %>
    <% end %>
  </div>
</div>