<div class="columns is-centered">
  <div class="column is-3">
    <%= render 'post_shared/profileblurb' %>
  </div>
  
  <div class="column is-8">
    <%= render 'post_shared/form' %>
    <%= render 'post_shared/feed' %>
  </div>
</div>
