/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
// 
.profile-icon {
    border-radius: 50%;
}

// NAVBAR 
nav .fa-facebook {
    color: blue;
}

nav .navbar-item img {
    border-radius: 50%;
}

nav .navbar-item .profile-name {
    display: flex;
    align-items: center;
}

nav .navbar-item .notif-bubble {
    background-color: red;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    color: white;
    font-weight: bold;
}

nav .navbar-name {
    padding-left: .5em;
}

// PEOPLE 
.user-index .card {
    margin: 1.5em;
}

.user-index .card-content {
    padding: 1.25em 0 0 0;
}

.user-index .card-content .media-left {
    margin-left: 1em;
}

.user-index .pending-friend-request {
    font-size: .85em;
    background-color: #ccc;
}

// COMMENT FORM
.comment-form {
    display: flex;
    width: 100%;
}

.comment-form .field {
    width: 100%;
}

.media+.media {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

// POST FEED 
.post-box {
    margin: 1em;
}

.post-header {
    display: flex;
    width: 100%;
}

.post-image {
    margin-bottom: 1.5em;
}

.stats {
    margin-bottom: 1.5em;
}

.comment-bubble {
    display: flex;
    width: 100%;
    border-radius: 40px;
    border: 1px solid lightgrey;
    padding: .5em 1.25em .5em 1.25em;
}

// POST FORM 
.post-form {
    display: flex;
    width: 100%;
}

.post-form .field {
    width: 100%;
}

.file-upload {
    margin-top: 1em;
}