/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// BODY 
html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #D2DEEF;
    color: #66727C;
}

.section {
    padding: 1.5rem;
}

a {
    color: #66727C;
}

a:hover {
    background-color: transparent;
    color: #66727C;
}

.button,
.subtitle,
.title,
.card {
    color: #66727C;
}

// NEUE
.neue-round-btn {
    border-radius: 50%;
    background-color: #eaf0f8;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(0, 0, 0, .3);
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 32px;
}

.neue-round-small {
    border-radius: 50%;
    background-color: #eaf0f8;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(0, 0, 0, .3);
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 24px;
}

.neue-bar {
    border-radius: 5em;
    background-color: #EAF0F8;
    box-shadow: 8px 8px 15px #b3bdcb;
    margin: 2em 2em 1em 2em;
    padding: 0 .5em;
}

.neue-long {
    border-radius: 5em;
    background-color: #EAF0F8;
    box-shadow: 8px 8px 15px #b3bdcb;
    margin: 1em;
    padding: .5em 1em;
}

.neue-box {
    border-radius: 1.5em;
    background-color: #eaf0f8;
    box-shadow: 8px 8px 15px #b3bdcb;
}

.neue-input {
    box-shadow: inset -4px -4px 8px #FFFFFF, inset 4px 4px 8px #b3bdcb;
    border-radius: 15px;
    background-color: #eaf0f8;
    border-style: none;
    padding: .5em 1em .5em 1em;
    color: #66727C;
}

.textarea:active,
.textarea:focus {
    border-style: none;
    box-shadow: inset -4px -4px 9px #FFFFFF, inset 4px 4px 9px #b3bdcb;
    border-color: transparent;
}

.neue-long-btn {
    border-radius: 1000px;
    background-color: #eaf0f8;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(0, 0, 0, .3);
    border-style: none;
    font-size: .8rem;
}

// PROFILE
.profile-icon {
    border-radius: 50%;
}

.name {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
}

.name,
.username {
    text-align: center;
}

.card-footer-item {
    padding: 0.4rem;
    font-size: .75rem;
}

.card-footer-item:not(:last-child) {
    margin-bottom: 1em;
}

// NAVBAR 
nav .fa-facebook {
    color: #a7B3Be;
    height: 80%;
    width: 80%;
}

#facebooklogo,
#neuelogo {
    font-family: 'Open Sans', sans-serif;
}

#facebooklogo {
    font-weight: bold;
}

nav .navbar-item img {
    border-radius: 50%;
    max-height: 2rem;
}

nav .navbar-item .profile-name {
    display: flex;
    align-items: center;
}

nav .navbar-name {
    padding-left: .75em;
}

.navbar-item.has-dropdown:focus .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
}

// PEOPLE 
.user-index .card {
    margin: 1.5em;
}

.user-index .card-content {
    padding: 1.25em 0 0 0;
}

.user-index .card-content .media-left {
    margin-left: 1em;
}

#stack {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#stack .name,
#stack .username {
    margin-top: 0;
    text-align: left;
    align-self: left;
}

// COMMENT FORM
.comment-form {
    display: flex;
    width: 100%;
}

.comment-form .field {
    width: 100%;
}

.media+.media {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

// POST FEED 
.post-box {
    margin-bottom: 1.5em;
}

.post-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.post-image {
    margin-bottom: 1.5em;
}

.post-author {
    font-size: 1.2em;
    font-weight: 700;
    font-style: bold;
}

.post-date {
    padding-top: .125em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.stats {
    margin-bottom: 1.5em;
}

.comment-bubble {
    display: flex;
    width: 100%;
    border-radius: 40px;
    box-shadow: inset -4px -4px 9px #FFFFFF, inset 4px 4px 9px #b3bdcb;
    padding: .5em .75em .5em 1.25em;
}

// POST FORM 
.post-form {
    display: flex;
    width: 100%;
}

.post-form .field {
    width: 100%;
}

.file-upload {
    margin-top: 1em;
}